language: java

sudo: required

jdk:
  - oraclejdk9

before_install:
  - curl -s api.sdkman.io | bash
  - source /home/travis/.sdkman/bin/sdkman-init.sh # ターミナル上での表示結果
  - sdk list gradle
  - sdk install gradle 4.2.1
  - sdk default gradle 4.2.1
  - mkdir parserWorkshop
  - cd parserWorkshop

install:
  - curl -O http://www.antlr.org/download/antlr-4.7.1-complete.jar # version4の最新版を導入すること
  - java -cp ./antlr-4.7.1-complete.jar org.antlr.v4.Tool # ツールの確認
  - java -cp ./antlr-4.7.1-complete.jar org.antlr.v4.Tool ../src/main/resources/Classes.g4
#  - ls -al
#  - rm antlr-4.7.1-complete.jar
  - mkdir ../src/main/java/parser/
  - cp * ../src/main/java/parser/.
  - cd ../
  - rm -rf ./parserWorkshop/
  - du -a ./

